In [ ]:
import pandas as pd
df = pd.read_csv('imdb_indonesian_movies_2.csv')

In [ ]:
df.tail()

                    judul_film  ...     genre
1000           Winter in Tokyo  ...  Romantis
1001           Petualang Cinta  ...  Romantis
1002          Last Night (III)  ...  Romantis
1003             Path of Light  ...  Romantis
1004  Kulihat cinta di matanya  ...  Romantis

[5 rows x 3 columns]

In [ ]:
df = df.drop(columns=['judul_film'])

In [ ]:
df.head()

                                  ringkasan_sinopsis  genre
0  Raden Mas Said putra sulung Tumenggung Wilarik...  Drama
1  Soe Hok Gie adalah seorang aktivis yang hidup ...  Drama
2  Guru Bangsa Tjokroaminoto menceritakan tentang...  Drama
3  POL menceritakan kisah hidup yang luar biasa d...  Drama
4  Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...  Drama

In [ ]:
category = pd.get_dummies(df.genre)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='genre')
df_baru

                                     ringkasan_sinopsis  Drama  ...  Laga  Romantis
0     Raden Mas Said putra sulung Tumenggung Wilarik...      1  ...     0         0
1     Soe Hok Gie adalah seorang aktivis yang hidup ...      1  ...     0         0
2     Guru Bangsa Tjokroaminoto menceritakan tentang...      1  ...     0         0
3     POL menceritakan kisah hidup yang luar biasa d...      1  ...     0         0
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...      1  ...     0         0
...                                                 ...    ...  ...   ...       ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...      0  ...     0         1
1001  Markonah melarikan diri ke Jakarta karena akan...      0  ...     0         1
1002  Tempat aking lebih dari 36 jam, Last Night ada...      0  ...     0         1
1003  Proyek baru ini adalah tentang seorang lelaki ...      0  ...     0         1
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...      0  ...     0         1

[1005 rows x 6 columns]

In [ ]:
sinopsis = df_baru['ringkasan_sinopsis'].values
label = df_baru[['Drama', 'Horor', 'Komedi', 'Laga', 'Romantis']].values

In [ ]:
from sklearn.model_selection import train_test_split
sinopsis_latih, sinopsis_test, label_latih, label_test = train_test_split(sinopsis, label, test_size=0.2)

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(sinopsis_latih) 
tokenizer.fit_on_texts(sinopsis_test)
 
sekuens_latih = tokenizer.texts_to_sequences(sinopsis_latih)
sekuens_test = tokenizer.texts_to_sequences(sinopsis_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [ ]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
num_epochs = 30
history = model.fit(padded_latih, label_latih, epochs=num_epochs, 
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
26/26 - 33s - loss: 1.6099 - accuracy: 0.1990 - val_loss: 1.6115 - val_accuracy: 0.1542 - 33s/epoch - 1s/step
Epoch 2/30
26/26 - 28s - loss: 1.6044 - accuracy: 0.2388 - val_loss: 1.6414 - val_accuracy: 0.1990 - 28s/epoch - 1s/step
Epoch 3/30
26/26 - 28s - loss: 1.5160 - accuracy: 0.3259 - val_loss: 1.5423 - val_accuracy: 0.3035 - 28s/epoch - 1s/step
Epoch 4/30
26/26 - 33s - loss: 1.2092 - accuracy: 0.4179 - val_loss: 1.7429 - val_accuracy: 0.2388 - 33s/epoch - 1s/step
Epoch 5/30
26/26 - 28s - loss: 1.0822 - accuracy: 0.4614 - val_loss: 1.7760 - val_accuracy: 0.2886 - 28s/epoch - 1s/step
Epoch 6/30
26/26 - 29s - loss: 0.9369 - accuracy: 0.5124 - val_loss: 2.6220 - val_accuracy: 0.3085 - 29s/epoch - 1s/step
Epoch 7/30
26/26 - 28s - loss: 0.8165 - accuracy: 0.6132 - val_loss: 2.2281 - val_accuracy: 0.2736 - 28s/epoch - 1s/step
Epoch 8/30
26/26 - 29s - loss: 0.7782 - accuracy: 0.6667 - val_loss: 2.2355 - val_accuracy: 0.3085 - 29s/epoch - 1s/step
Epoch 9/30
26/26 - 28s - loss: 0.5325 - accuracy: 0.8147 - val_loss: 2.9685 - val_accuracy: 0.3035 - 28s/epoch - 1s/step
Epoch 10/30
26/26 - 29s - loss: 0.3617 - accuracy: 0.8769 - val_loss: 3.3501 - val_accuracy: 0.2836 - 29s/epoch - 1s/step
Epoch 11/30
26/26 - 28s - loss: 0.2436 - accuracy: 0.9204 - val_loss: 3.8325 - val_accuracy: 0.2786 - 28s/epoch - 1s/step
Epoch 12/30
26/26 - 29s - loss: 0.2316 - accuracy: 0.9229 - val_loss: 3.6122 - val_accuracy: 0.3234 - 29s/epoch - 1s/step
Epoch 13/30
26/26 - 28s - loss: 0.1613 - accuracy: 0.9515 - val_loss: 4.3276 - val_accuracy: 0.2587 - 28s/epoch - 1s/step
Epoch 14/30
26/26 - 29s - loss: 0.0729 - accuracy: 0.9876 - val_loss: 5.0584 - val_accuracy: 0.3085 - 29s/epoch - 1s/step
Epoch 15/30
26/26 - 28s - loss: 0.0319 - accuracy: 0.9963 - val_loss: 6.2701 - val_accuracy: 0.2985 - 28s/epoch - 1s/step
Epoch 16/30
26/26 - 29s - loss: 0.0268 - accuracy: 0.9963 - val_loss: 6.0233 - val_accuracy: 0.3234 - 29s/epoch - 1s/step
Epoch 17/30
26/26 - 28s - loss: 0.0187 - accuracy: 0.9975 - val_loss: 6.3362 - val_accuracy: 0.2836 - 28s/epoch - 1s/step
Epoch 18/30
26/26 - 28s - loss: 0.0184 - accuracy: 0.9975 - val_loss: 6.9568 - val_accuracy: 0.2786 - 28s/epoch - 1s/step
Epoch 19/30
26/26 - 28s - loss: 0.0253 - accuracy: 0.9925 - val_loss: 6.5768 - val_accuracy: 0.2836 - 28s/epoch - 1s/step
Epoch 20/30
26/26 - 28s - loss: 0.0342 - accuracy: 0.9913 - val_loss: 5.9423 - val_accuracy: 0.3333 - 28s/epoch - 1s/step
Epoch 21/30
26/26 - 28s - loss: 0.0500 - accuracy: 0.9851 - val_loss: 6.1670 - val_accuracy: 0.3085 - 28s/epoch - 1s/step
Epoch 22/30
26/26 - 28s - loss: 0.0506 - accuracy: 0.9863 - val_loss: 5.8336 - val_accuracy: 0.3234 - 28s/epoch - 1s/step
Epoch 23/30
26/26 - 28s - loss: 0.0626 - accuracy: 0.9888 - val_loss: 5.3699 - val_accuracy: 0.3433 - 28s/epoch - 1s/step
Epoch 24/30
26/26 - 28s - loss: 0.0250 - accuracy: 0.9963 - val_loss: 5.6736 - val_accuracy: 0.3284 - 28s/epoch - 1s/step
Epoch 25/30
26/26 - 28s - loss: 0.0090 - accuracy: 0.9988 - val_loss: 5.7702 - val_accuracy: 0.3433 - 28s/epoch - 1s/step
Epoch 26/30
26/26 - 28s - loss: 0.0036 - accuracy: 1.0000 - val_loss: 6.2788 - val_accuracy: 0.3184 - 28s/epoch - 1s/step
Epoch 27/30
26/26 - 28s - loss: 0.0022 - accuracy: 1.0000 - val_loss: 6.5398 - val_accuracy: 0.3184 - 28s/epoch - 1s/step
Epoch 28/30
26/26 - 28s - loss: 0.0016 - accuracy: 1.0000 - val_loss: 6.7303 - val_accuracy: 0.3234 - 28s/epoch - 1s/step
Epoch 29/30
26/26 - 28s - loss: 0.0013 - accuracy: 1.0000 - val_loss: 6.9162 - val_accuracy: 0.3333 - 28s/epoch - 1s/step
Epoch 30/30
26/26 - 28s - loss: 0.0011 - accuracy: 1.0000 - val_loss: 7.0723 - val_accuracy: 0.3383 - 28s/epoch - 1s/step